<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MHDiary</title>
</head>
<body>
  <div class="">
<h1>Invite from MHDiary.com</h1>
{{user.username}} has invited you to follow him on MHDiary.com

If you want to follow {{user.username}}, <a href="https://mhdiary.com/invite/accept/{{inviteID}}">Click here</a>

Regards
The MHDiary Team
support@mhdiary.com
  </div>
  @!section('content')
</body>
</html>